.space_bw{
    display: flex;
    justify-content: space-between;
  }

.MuiPaper-rounded{
  margin-left: 16px !important;
  background-color: black !important;
  color: white !important;
  font-size: small !important;

}