* {
  box-sizing: border-box;
}

.navbar-main {
  height: 60px;
  width: 100%;
  display: flex;
  border: 1px solid grey;
  align-items: center;
  background-color: black;
  color: white;
  
}

.navbar-sec1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
  width: 75%;


}

.navbar-sec2 {
  display: flex;
  justify-content: flex-end;

  align-items: center;

  height: 100%;
  width: 25%;
}
#drop-down-reports1{
  font-size: larger;

}
.searchbar {
  height: 50%;
  border-radius: 10px;
  height: 30px;
  border: 1px solid lightgray;

  background-color: whitesmoke;
}
.items {
  display: -webkit-flex;
  display: flex;
  margin: 5%;
  box-sizing: border-box;
}
.hamburge {
  visibility: hidden;
}
.image-class {
  height: 50px;
}
@media only screen and (max-width: 700px) {
  .navbar-sec2 {
    width: 10%;
  }
  .items {
    display: none;
  }
  .hamburge {
    visibility: visible;
  }
  .navbar-sec1 {
    width: 90%;
  }
}
.dropdown-menu-account {
  height: 300px;
  width: 250px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-left: 6%;
  margin-top: 5px;
  color: white;
}
.dropdown-menu-reports {

  width: 250px;
  margin-bottom: 100px;
  position: absolute;
  margin-top: 5px;  
  color:white;
  background-color: black;
  font-size: 10px;
}
.list-items{
  height: 16.6%;
  width: 100%;
  padding-top: 9px;
  display: flex;
  margin-left: 100%;
  overflow: auto;
  justify-content: space-between;
  float: right;
}
.list-items-options{
 margin-left: 100px;
  border: none;
  user-select: none;
  border: none;
  height: 100%;
  width: 100%;
}

.Account-management{
  float:right
}

select{
  appearance: none;
  background-image: url('https://cdn2.iconfinder.com/data/icons/simple-circular-icons-filled/78/Right_Carrot_Filled-512.png');
   background-repeat: no-repeat;
   background-size: 30px;
   background-position: calc(100%-50px) center;
   padding-right: 50px;
   border: none;
  align-content: flex-end;
}
option{
  border: none;
}
.drop-down-reports{
  font-size: small;
  margin-left: 10px;
}